@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header_wrap {
  height: 150px;

  padding: 0px 100px 0px 50px;
  margin-bottom: 20px;

  box-shadow: 0px 5px 3px 1px #a9a9a9;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  width: 45px;
  height: 45px;
}

.header_nav {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header_nav>p {
  margin-right: 15px;
}

.header_nav>p>a:link {
  text-decoration: none;
}

.header_nav>p>a:visited {
  color: black;
  text-decoration: none;
}